<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns	=	"http://www.w3.org/ns/widgets"
	xmlns:gap 	=	"http://phonegap.com/ns/1.0"
	id			= 	"com.rain.ecomplaintpcmbligo"
	versionCode = 	"10"
	version 	= 	"1.0.0" >

<!-- versionCode is optional and Android only -->
<name>e-complaint PCM Bligo</name>

<description>
	Aplikasi e-complaint PCM Bligo
</description>

<author href="" email="shinta.setiawati@gmail.com">
	Shinta Setyawati
</author>

<plugin name="cordova-plugin-inappbrowser" />
<plugin name="cordova-plugin-whitelist" version="1" />

<access origin="*" />
<allow-intent href="https://*/*" />
<allow-navigation href="https://*/*" />

<icon src="logo.png" />
<icon src="logo.png" platform="android" qualifier="ldpi" />
<icon src="logo.png" platform="android" qualifier="mdpi" />
<icon src="logo.png" platform="android" qualifier="hdpi" />
<icon src="logo.png" platform="android" qualifier="xhdpi" />
<icon src="logo.png" platform="android" qualifier="xxhdpi" />
<icon src="logo.png" platform="android" qualifier="xxxhdpi" />
<icon src="logo.png" platform="android" qualifier="fr-xxhdpi" />

<splash src="logo.png" />
<splash src="logo.png" platform="android" qualifier="ldpi" />
<splash src="logo.png" platform="android" qualifier="mdpi" />
<splash src="logo.png" platform="android" qualifier="hdpi" />
<splash src="logo.png" platform="android" qualifier="xhdpi" />
<splash src="logo.png" platform="android" qualifier="fr-xhdpi" />
<splash src="logo.png" platform="android" qualifier="port-xxhdpi" />
<splash src="logo.png" platform="android" qualifier="land-xxhdpi" />
<splash src="logo.png" platform="android" qualifier="xxxhdpi" />

</widget>